[Desktop Entry]
Encoding=UTF-8
Name=Link to 32:17 Now playing Watch later Watch later Add to queue Add to queue
Type=Link
URL=https://www.youtube.com/watch?v=fucapzoaqLM
Icon=text-html
